@import './modules/modules.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Nunito Sans', system-ui, sans-serif;
  }
}

@layer utilities {
  .container {
    @apply w-[92%] max-w-[960px] mx-auto;
  }
  @media screen and (min-width: theme('screens.md')) {
    .container {
      width: 94%;
    }
  }
  @media screen and (min-width: theme('screens.xl')) {
    .container {
      max-width: 1200px;
    }
  }

  .line-through-el {
    @apply flex items-center justify-center w-full;
  }
  .line-through-el::before,
  .line-through-el::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #d3d3d3;
  }
  .line-through-el::before {
    @apply mr-4;
  }
  .line-through-el::after {
    @apply ml-4;
  }
}
