@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import './modules/modules.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Nunito Sans';
  }
}

@layer utilities {
  .container {
    @apply w-[92%] max-w-[960px] mx-auto;
  }
  @media screen and (min-width: theme('screens.md')) {
    .container {
      width: 94%;
    }
  }
  @media screen and (min-width: theme('screens.xl')) {
    .container {
      max-width: 1200px;
    }
  }

  .line-through-el {
    @apply flex items-center justify-center w-full;
  }
  .line-through-el::before,
  .line-through-el::after {
    content: '';
    flex: 1;
    height: 1px;
    background-color: #d3d3d3;
  }
  .line-through-el::before {
    @apply mr-4;
  }
  .line-through-el::after {
    @apply ml-4;
  }
}

.react-multiple-carousel__arrow {
  @apply w-[32px] md:w-[62px];
  min-width: auto;
  height: 100%;
  padding: 0 6px;
  border-radius: 0;
  border: none;
  background-color: rgba(242, 242, 242, 0.5);
  color: rgb(188, 188, 188);
}
.react-multiple-carousel__arrow::before {
  color: rgb(188, 188, 188);
}
.react-multiple-carousel__arrow:hover {
  background-color: rgba(242, 242, 242, 0.8);
}

.react-multiple-carousel__arrow--left {
  left: 0;
}
.react-multiple-carousel__arrow--right {
  right: 0;
}
